<!-- <p (click)="this.show()">
  Data {{this.movie$.filmDetails.title}}
</p>
<button (click)="this.movie$.showFilm()">show film</button>
<button (click)="this.update()">update</button> -->

<div class="clr-row">
  <div class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-sm-8 clr-col-8">
    <div class="card-img">
      <img src="{{this.movie$.imgPath}}{{this.movie$.filmDetails.poster_path}}" alt="{{this.movie$.filmDetails.title}}"/>
    </div>
  </div>
  <div class="clr-col-xl-7 clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-12">
    <div class="card-block">
      <h1 class="card-text">
          {{this.movie$.filmDetails.title}}
      </h1>
      <a (click)="this.appUser$.addFavorite()" role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
          <clr-icon shape="star" size="24"></clr-icon>
          <!-- <clr-icon shape="star" size="24"></clr-icon> -->
          <span class="tooltip-content">Click to add to your favorites</span>
      </a>
      <span>&nbsp;</span>
      <a (click)="this.appUser$.removeFavorite()" role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
          <clr-icon shape="star" class="is-solid" size="24"></clr-icon>
          <!-- <clr-icon shape="star" size="24"></clr-icon> -->
          <span class="tooltip-content">Click to remove from your favorites</span>
      </a>
      <h2 class="card-text">
          {{this.movie$.filmDetails.release_date}}
      </h2>
      <h3 class="card-text">
          {{this.movie$.filmDetails.overview}}
      </h3>
    </div>
  </div>
</div>



