<!--The content below is only a placeholder and can be replaced.-->
<header class="header-6">
    <div class="branding">
        <a routerLink="landing" class="nav-link">
            <clr-icon shape="film-strip"></clr-icon>
            <span class="title">Find A Film</span>
        </a>
    </div>
    <div class="header-nav">
        <!-- <a href="javascript://" class="nav-link nav-text" routerLink="results">Movies</a> -->
        <a href="javascript://" class="nav-link nav-text" routerLink="favorites">Favorites</a>
    </div>
    <form class="search">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Search for a film..." 
            [(ngModel)]="this.movie$.filmName" 
            [ngModelOptions]="{standalone: true}"
            (keyup.enter)="this.movie$.searchFilm()">
        </label>
    </form>
    <div class="header-actions">
        <p>Welcome {{this.appUser$.userName}}</p>
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="login" routerLink="login"></clr-icon>
        </a>
    </div>
</header>

<router-outlet></router-outlet>
